* {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

html {
      scroll-behavior: smooth;
}

::-moz-selection {
      color: #f1f1f1;
      background: #444;
}

::selection {
      color: #f1f1f1;
      background: #444;
}

a {
      color: inherit;
      text-decoration: none;
}

#header-container {
      align-items: center;
      background-color: #f1f1f1;
      box-shadow: 0px 0px 20px #444;
      display: flex;
      justify-content: space-around;
      overflow: hidden;
      padding: 10px;
      position: sticky;
      top: 0;
      transition: 0.4s;
      width: 100%;
      z-index: 99;
}

#logo {
      width: 230px;
      height: 130px;
      transition: 0.4s;
}

.open-button,
.menu-button {
      background-color: #444;
      border: none;
      display: flex;
      justify-content: center;
      color: white;
      cursor: pointer;
      font-size: 20px;
      padding: 10px 15px;
      width: 180px;
}

.navigation-bar .close-button {
      background-color: rgb(220, 71, 71);
      color: #f1f1f1;
      font-size: 30px;
      margin: 5px;
      margin-left: 50px;
      padding: 3px 10px;
      position: absolute;
      right: 5px;
      top: 2px;
      width: fit-content;
}

.open-button:hover,
.menu-button:hover {
      background-color: #111;
}

.close-button:hover {
      background-color: red;
}

.navigation-bar {
      display: block;
      background: rgb(241, 241, 241);
      box-shadow: 20px 0px 50px #444;
      height: 100vh;
      left: 0;
      overflow-x: hidden;
      padding-top: 60px;
      position: fixed;
      top: 0;
      transition: 0.5s;
      width: 0;
      z-index: 1;
}

.navigation-bar a {
      color: #111;
      display: flex;
      font-size: 20px;
      justify-content: center;
      margin: 10px 50px;
      padding: 15px 5px;
      position: relative;
      text-decoration: none;
      transition: 0.3s;
}

.navbar-item {
      border-bottom: #444 solid 1px;
}

.navbar-item:before,
.navbar-item:after {
      content: "";
      height: 5px;
      opacity: 0;
      position: absolute;
      transition: all .5s;
      width: 0;
}

.navbar-item:before {
      top: -3px;
      left: 0;
}

.navbar-item:after {
      bottom: -3px;
      right: 0;
}

.navbar-item:hover:before,
.navbar-item:hover:after {
      background-color: #693413;
      box-sizing: border-box;
      opacity: 0.9;
      width: calc(100% + 30px);
}

.navbar-item:hover {
      border: none;
      color: #d37f25;
}

#landing-content-text {
      color: #f1f1f1;
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: center;
      padding: 40px;
      position: absolute;
}

#landing-content-text p {
      font-size: 35pt;
}

#landing-content-text h1 {
      font-size: 54pt;
}

#video-display {
      height: 100%;
      position: relative;
      width: 100%;
      z-index: -2;
}

.image-header {
      display: flex;
}

.image-header>img {
      width: 50%;
      height: 200px;
}





.top-arrow {
      align-items: flex-end;
      display: flex;
}

.top-arrow>a {
      align-items: center;
      background-color: #693413;
      border-radius: 50%;
      bottom: 0;
      color: #f1f1f1;
      display: flex;
      font-size: 20pt;
      height: 50px;
      justify-content: center;
      margin: 20PX;
      opacity: 0.8;
      position: fixed;
      width: 50px;
      z-index: 90;
}

.top-arrow>a:hover {
      background-color: #444;
      color: #f1f1f1;
}





#category-container {
      /* background-color: #000; */
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      padding: 100px 0px;
}

.main-title {
      align-items: center;
      display: flex;
      font-size: 30pt;
      justify-content: center;
}

.main-title-image {
      width: 200px;
}

#paragraf-2 {
      text-indent: 150px;
}

#category-content {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-evenly;
}

#category-content>div {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
}

.category-border {
      align-items: center;
      background-color: #444;
      display: flex;
      height: 240px;
      justify-content: flex-start;
      padding: 30px;
      position: absolute;
      width: 220px;
}

.category-picture {
      height: 180px;
      position: absolute;
      width: 220px;
}

.category-description {
      align-content: center;
      background-color: #f1f1f1;
      color: #693413;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 290px;
      justify-content: center;
      margin-left: 80px;
      padding: 20px;
      padding-left: 190px;
      width: 520px;
}

.category-description h2 {
      color: #000;
      font-size: 22pt;
}

.category-description p {
      font-size: 12pt;
}

.category-button {
      background-color: rgb(99, 99, 99);
      border: none;
      display: flex;
      color: white;
      cursor: pointer;
      font-size: 12pt;
      justify-content: center;
      padding: 10px;
      width: 100%;
}

.category-button:hover {
      background-color: #111;
}





.certificate-icons {
      width: 240px;
}

.certificate-name {
      color: #693413;
      font-size: 13pt;
}

.certificate-description {
      display: flex;
      font-size: 10pt;
      justify-content: center;
      text-align: center;
      width: 350px;
}

#certificate-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 100px 0;
}

#certificate-content {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      justify-content: center;
}

#certificate-content article {
      align-items: center;
      background-color: #f1f1f1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
}





#products-all {
      display: flex;
      flex-direction: column;
}

#products-all>section {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 200px 0;
}

#products-all>section:nth-child(even) {
      background-color: rgb(234, 232, 232);
}

.products-title {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.products-title h1 {
      font-size: 40pt;
}

.products-title>p {
      color: #693413;
      font-size: 15pt;
      padding: 0 100px;
      text-align: center;
}

.products-container {
      align-content: center;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
}

.products {
      align-items: flex-end;
      display: flex;
      margin-bottom: 40px;
}

.products-description {
      background-color: #f1f1f1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 220px;
      justify-content: center;
      padding: 20px;
      padding-left: 145px;
      width: 360px;
}

.products-name {
      font-size: 20pt;
      text-align: center;
}

.products-price {
      color: red;
      font-size: 12pt;
      font-weight: bold
}

.products-available {
      display: flex;
      color: green;
      font-size: 12pt;
}

.products-border {
      background-color: #444;
      height: 190px;
      padding: 30px;
      position: relative;
      width: 200px;
      margin-right: -100px;
}

.products-picture {
      width: 200px;
      height: 190px;
}





.footer-container {
      align-items: center;
      display: flex;
      flex-direction: column;
}

.footer-head {
      align-items: center;
      background-color: #444;
      color: #f1f1f1;
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 100%;
}

.footer-head h1 {
      font-size: 30pt;
}

.footer-contact {
      width: 100%;
      display: flex;
      align-content: space-around;
      justify-content: space-evenly;
      flex-wrap: wrap;
}

.footer-contact>div {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;
}

.social-icons {
      width: 30px;
}

.social-title {
      font-size: 10pt;
      margin-top: 15px;
}

.social-name {
      font-size: 10pt;
}

.footer-copyright>p {
      font-size: 10pt;
      padding: 5px;
      text-align: center;
      max-width: min-max("", "");
}

.footer-social:hover {
      cursor: pointer;
}

.social-name:hover {
      color: #693413;
      text-decoration: underline;
}





.landing-account-content {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      justify-content: center;
      padding: 50px;
}

.landing-account-image {
      display: flex;
}

.landing-account-image img {
      width: 50%;
      height: 30%;
}

.landing-account-title {
      color: #693413;
      font-size: 38pt;
}

#landing-title-2 {
      text-indent: 50px;
}

.landing-account-desc {
      font-size: 13pt;
      padding: 30px;
      text-align: center;
}





.regist-container {
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 100px;
}

.regist-container>div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
}

.regist-border {
      position: relative;
      height: 400px;
      width: 300px;
      background-color: #693413;
}

.regist-border>img {
      height: 400px;
      width: 300px;
      margin-left: 40px;
      margin-top: 40px;
}

.regist-image {
      display: flex;
      justify-content: center;
      align-items: center;
}

.regist-container {
      display: flex;
      width: 100%;
}

.sign-title {
      color: #693413;
      font-size: 25pt;
}

.sign-desc {
      font-size: 13pt;
      margin-bottom: 20px;
}

input[type=text],
input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
      background-color: #ddd;
      outline: none;
}

.sign-button {
      background-color: #693413;
      color: white;
      padding: 14px 0px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
}

.sign-button:hover {
      opacity: 1;
}

.text-brown {
      color: #d37f25;
}

.login-container {
      gap: 50px;
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
}

.login-ask {
      display: flex;
      align-items: center;
}

.login-ask>h1>p {
      color: #693413;
      font-size: 30pt;
}

.login-catalog {
      display: flex;
      align-items: center;
}

.login-desc {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-direction: column;
      align-items: center;
}

.login-desc p {
      font-size: 20pt;
}






.about-items,
.about-location {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      margin-bottom: 50px;
      margin-top: 100px;
}

.cafe {
      width: 400px;
}

.cafe-2 {
      width: 600px;
}

.cafe, 
.cafe-2,
.maps {
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
}

.about-items>article,
.about-location>article {
      display: flex;
      justify-content: center;
      align-items: center;
}

.about-description {
      display: flex;
      flex-direction: column;
}

.about-title-1,
.about-title-2 {
      font-size: 30pt;
}

.about-content {
      font-size: 15px;
      padding: 30px;
      text-align: center;
}

.maps {
      border: none;
      width: 600px;
      height: 400px;
      outline: none;
}

.about-image-1 {
      width: 100%;
      justify-content: flex-end;
      display: flex;
}

.about-image-2 {
      display: flex;
      width: 100%;
      justify-content: flex-start;
}